.container_bgview {
	width          : 100%;
	min-height     : 550px;
	display        : flex;
	text-align     : center;
	justify-content: center;
	align-items    : center;
}

.linkFacebook {
	display        : flex;
	justify-content: center;
	align-items    : center;
}

.buttonSubmit button{
	border-radius: 50px !important;
    border: 2px solid white !important;
    background-color: transparent !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
    transition: transform 80ms ease-in !important;
    padding: 10px 30px;
}
