


.show-info-bottom{
    height: 55px !important;
    background-color: rgb(87 82 82 / 50%) !important;
}

.custom-img .MuiImageListItemBar-titleWrap{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.item-receipt{
    white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.list-product-inventory > .MuiListItem-gutters{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
